<div>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Facebook', facebook_path %>
  <%= link_to 'Twitter', twitter_path %>
  <%= link_to 'Instagram', instagram_path %>
  <%= link_to 'Blog', blogs_path %>
  <%= link_to 'Login', user_session_path %>
  <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
  <%= link_to 'Register', new_user_registration_path %>
</div>